osg.config
osg.creator
osg.creator.user*
osg.files
osg.includes
osg_master.config
osg_master.creator
osg_master.creator.user*
osg_master.files
osg_master.includes
tests/*/Objects/*
tests/*/Listings/*
tests/*/RTE/*
tests/*/DebugConfig/*
tests/*/*.scvd
tests/*/*.uvguix.*
tests/*/*.uvgui.*
tests/*/*/Objects/*
tests/*/*/Listings/*
tests/*/*/RTE/*
tests/*/*/DebugConfig/*
tests/*/*/*.scvd
tests/*/*/*.uvguix.*
tests/*/*/*.uvgui.*
**/CMakeLists.txt.user*
doxygen
